body{
    background-color: rgba(118, 50, 63, .70);
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
}

*{
    box-sizing: border-box;
}

h1 , h2, p{
    font-family: 'Shadows Into Light', cursive;
    margin-top: 5%;
    font-size: 2em;
    color:  #d7cec7;
 }

 #quizContainer{
  background-color: rgba(86, 86, 86, .80);
  margin-top: 5%;
  width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px;
}


table{
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #d7cec7;
  font-size: 1.5em;
  border-collapse: collapse;
  border: 1px solid #d7cec7;
  margin: 3%;

}

table, th, td{
  border: 1px solid #d7cec7;
}

.question {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    color:  #d7cec7;
    padding: 5%;
}

.answers {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #c09f80;
    padding: 5%;

}

.answers .btn {
    font-size: 1em;
    font-weight: 800;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
.score {
  font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 1.5em;
}

#previousButton {
    float: left;
    margin-left: 25%;

}


