<!doctype html>
<html lang="en">
  <%- include ("header") %>
  <body>

    <div role="main" class="container">
      <h1>JavaScript Quiz</h1>


    <%- include ("question1") %>

   </div>
  </body>
</html>
