<%- include ("header") %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Question 1</h5>
    <h6 class="card-subtitle mb-2 text-muted">JavaScript statements are separated by what?</h6>
    <p class="card-text">

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          A: Semi-Colon
        </label>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          B: Comma
        </label>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          C: Period
        </label>
      </div>

    </p>

    <a href="question2" class="card-link">Next</a>
  </div>
</div>
